# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# Data files
*.npy
*.csv
*.h5
*.keras
*.hdf5

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/

# Large datasets
datasets/
*.wav
*.zip

# Model weights
best_model1_weights.keras
emotion_recognition_model.h5
